.vscode/**
.vscode-test/**
.vscodeignore
.gitignore
src/**
node_modules/**
!node_modules/
!node_modules/@nap-ai/
!node_modules/@nap-ai/**
out/test/**
out/**/*.map
dist/**/*.map
*.vsix
tsconfig.json
vite.config.ts
vitest.config.ts
package-lock.json
resources/Screenshot*.png
resources/demo.png
